@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@media all and (orientation: portrait) {
  .lateral-padding {
    padding-left: 4%;
    padding-right: 4%;
  }
  
  .hero-container {
    flex-wrap: wrap;
  }

  .hero {
    width: 100%;
  }

  .hero-container img {
    width: 100%;
  }

  .imgs-section-container {
    flex-wrap: wrap;
  }


  .img-and-caption { 
    width: 40%;
  }
}

@media all and (orientation: landscape) { 
  .lateral-padding {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .hero {
    width: 50%;
  }

  .hero-container img {
    width: 50%;
  }

  .img-and-caption { 
    width: 25%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
}

.header {
  display: flex;
  background-color: #1F2937;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 0;
}

.header-logo {
  font-size: 24px;
  font-weight: 600;
  color: #F9FAF8;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.header ul {
  display: flex;
  gap: 0.8em;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header a {
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-container {
  display: flex;
  background-color: #1F2937;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 10%;
  padding-bottom: 10%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  padding: 5px;
  height: 25px;
  width: 100px;
  font-weight: 600;
}

.hero-container button {
  background-color: #3882F6;
  color: #F9FAF8;
}

.hero-container img {
  border: 2px solid #E5E7EB;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F9FAF8;
  gap: 15px;
  padding-top: 10%;
  padding-bottom: 10%;
}

.info-title {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.imgs-section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.img-and-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.caption {
  text-align: center;
  font-size: 18px;
  color: #1F2937;
}

.img-and-caption img {
  width: 75%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 2px solid #3882F6;
  border-radius: 8px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  gap: 10px;
  padding-top: 10%;
  padding-bottom: 10%;
}

.quote-text, 
.quote-author {
  font-size: 36px;
  color: #1F2937;
  padding-left: 5%;
  padding-right: 5%;
}

.quote-text {
  text-align: left;
  font-weight: light;
}

.quote-author {
  text-align: right;
  font-weight: 900;
  width: 100%;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9FAF8;
  gap: 15px;
  padding-top: 10%;
  padding-bottom: 10%;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 7%;
  border-radius: 8px;
  gap: 15px;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.box-text-bold {
  font-weight: bold;
}

.box button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
}

.footer {
  display: flex;
  background-color: #1F2937;
  color: #F9FAF8;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
