@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@media all and (orientation: portrait) {
  .lateral-padding {
    padding-left: 2%;
    padding-right: 2%;
  }

  .hero-container {
    flex-wrap: wrap;
  }
  
  .hero {
    width: 100%;
  }

  .hero-container img {
    width: 100%;
  }
}

@media all and (orientation: landscape) { 
  .lateral-padding {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .hero {
    width: 50%;
  }

  .hero-container img {
    width: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
}

.header, 
.hero-container,
.footer {
  display: flex;
  background-color: #1F2937;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 0;
}

.header-logo {
  font-size: 24px;
  font-weight: 600;
  color: #F9FAF8;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.header ul {
  display: flex;
  gap: 0.8em;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header a {
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-container {
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 10%;
  padding-bottom: 10%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.hero-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  padding: 5px;
  height: 25px;
  width: 90px;
  font-weight: 600;
}

.hero-container button {
  background-color: #3882F6;
  color: #F9FAF8;
}

.hero-container img {
  border: 2px solid #E5E7EB;
}

.footer {
  color: #F9FAF8;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
