@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@media all and (orientation: portrait) {
  .lateral-padding {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media all and (orientation: landscape) { 
  .lateral-padding {
    padding-left: 10%;
    padding-right: 10%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
}

.header, 
.hero,
.footer {
  display: flex;
  background-color: #1F2937;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 0;
}

.header-logo {
  font-size: 24px;
  font-weight: 600;
  color: #F9FAF8;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.header ul {
  display: flex;
  gap: 0.8em;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header a {
  text-decoration: none;
}

.content {
  flex: 1;
}

.hero {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.footer {
  color: #F9FAF8;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
